.menuContainer {
    margin:0;
    padding:0;
        }
ul {
    background: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}  
li {
    float: left;
    border-right: none;
    border: 1px solid #e7e7e7;
    text-decoration: none;
}
li:last-child {
    border-right: none;
}
li a {
    color: green;
    padding: 20px 20px;
    text-decoration: none;
    }
    .active {
    background-color: #4CAF50;
}



